# Build
DerivedData/
build/

# Xcode
*.xcuserstate
*.xcuserdatad
*.mode1v3
*.mode2v3
*.pbxuser
!*.pbxproj
!*.xcworkspacedata

# Swift Package Manager
Packages/
*.xcodeproj/project.xcworkspace
xcuserdata/
.ds_store

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db